.landingPage-section {
	height: calc(95vh - 9rem);
	width: 100%;
	position: relative;
}

.landingPage-splash {
	position: relative;
	height: calc(95vh - 9rem);
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	// background-image: url('../../assets/images/Desktop/RS_Desktop_Main.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	margin-top: 9rem;
}

.landingPage-splash-background {
	position: absolute;
	top: 0;
	width: 100%;
	height: calc(95vh - 9rem);
	z-index: -100;
}

.splash__background {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.landingPage-splash-text {
	display: flex;
	width: 70%;
	max-width: 960px;
	justify-content: space-between;
	align-items: center;
}

.splash-text__image {
	width: 30%;
	min-width: 250px;
	height: 100%;
	margin-right: 20px;
}

.splash-image-sizes {
	display: block;
	width: 100%;
	object-fit: fill;
	padding: 3%;
}

.splast-text__text-content {
	width: 68%;
	margin: 0 auto;
}

.splash__text {
	color: white;
	font-size: 3.2rem;
}

.splash__text--italic {
	display: inline-block;
	font-family: 'Hanoded';
	font-size: 4.25rem;
	color: $red;
	transform: rotate(-5deg);
	padding-right: 10px;
}

@media all and (max-width: $small-desktop) {
	.landingPage-section {
		position: relative;
		// top: 5vh;
		height: 100vh;
		z-index: -200;
	}

	.landingPage-section::before {
		display: block;
		height: 5vh;
		// margin-top: -5vh;
		content: '';
		visibility: hidden;
	}

	.landingPage-splash {
		height: 95vh;
		margin-top: 0;
	}

	.landingPage-splash-background {
		height: 95vh;
	}

	.landingPage-splash-text {
		flex-direction: column;
		width: 100%;
	}

	.splash-text__image {
		width: 36%;
		margin-bottom: 5%;
		margin-right: 0;
	}

	.splast-text__text-content {
		text-align: center;
	}
}
