@font-face {
    font-family: 'OpenSansBold';
    src: url('./OpenSans-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'OpenSansBoldItal';
    src: url('./OpenSans-BoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'OpenSansExtraBold';
    src: url('./OpenSans-ExtraBold.ttf') format('truetype');
}

@font-face {
    font-family: 'OpenSansExtraBoldItal';
    src: url('./OpenSans-ExtraBoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'OpenSansItal';
    src: url('./OpenSans-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'OpenSansLight';
    src: url('./OpenSans-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'OpenSanLightItal';
    src: url('./OpenSans-LightItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'OpenSans';
    src: url('./OpenSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'OpenSansSemiBold';
    src: url('./OpenSans-Semibold.ttf') format('truetype');
}

@font-face {
    font-family: 'OpenSansSemiBoldItal';
    src: url('./OpenSans-SemiboldItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Hanoded';
    src: url('./Hanoded\ -\ Harajuku\ Script\ Italic.otf') format('opentype');
}