div.more-section {
    background: $red;
    width: 100%;
    text-align: center;
    color: white;
    padding: 4rem;
}

.more__title {
    display: inline-block;
    margin-right: .5%;
    font-family: 'OpenSansBold';
    font-size: 2.5rem;
}

.more-button {
    background: $blue;
    border-radius: 3rem;
    padding: 1rem 5rem;
    border: none;

    text-transform: uppercase;
    color: white;
    font-size: 1.8rem;
    font-family: 'OpenSansBold';

    &:hover {
        background: $light-blue;
    }
}

a.more__click {
    text-decoration: none;
    font-size: 2rem;
    font-family: 'OpenSansBold';
    color: white;
    margin: 0 auto;
}
