div.more-section {
    background: $button-red;
    width: 100%;
    text-align: center;
    color: white;
    padding: 2%;
}

h1.more__title {
    display: inline-block;
    margin-right: .5%;
    font-family: 'OpenSansBold';
}

a.more__click {
    text-decoration: none;
    font-size: 2rem;
    font-family: 'OpenSansBold';
    color: white;
}