.donation-button a:hover {
    text-decoration: none;
}
.donate-button {
    background: $red;
    border-radius: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 5rem;
    border: none;

    text-transform: uppercase;
    color: white;
    font-size: 1.8rem;
    font-family: 'OpenSansBold';

    &:hover {
        background: $light-red;
    }
}

.donate-button:hover {
    cursor: pointer;
    text-decoration: none;
}

.second-donation-button {
    padding: 9% 5%;
}

@media all and (max-width: $small-desktop) {
    .donate-button {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        bottom: 0;
        left: 5%;
        transform: translateY(50%);
        z-index: 200;
        box-shadow: 0px 1px 10px 0px rgba(110, 108, 108, 0.3);
        width: 100px;
    }
}