.down__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    left: calc(50% - 20px);
    /* padding: 10px; */
    border: none;
    z-index: 100;
    transform: translateY(50%);
    color: white;
    font-size: 4rem;
    cursor: pointer;
}

.down__button:link,
.down__button:active,
.down__button:focus {
    outline: none;
}

.down-button__arrow {
    display: block;
    width: 50%;
    height: 50%;
    object-fit: scale-down;
}

.down__button--red {
    background: $red;
}

.down__button--blue {
    background: $blue;
}

//mobile

@media all and (max-width: $small-desktop) {
    .down__button {
        display: none;
    }
}