.second-donation-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5% 0;
    width: 70%;
    max-width: 1200px;
    margin: 0 auto;
}

.second-donation-para {
    width: 70%;
    font-family: 'OpenSansBold';
    color: $red;
    font-size: 3rem;
    line-height: 1.2;
}

.donation--color {
    color: $blue;
}