.logo-container {
	width: 20%;
	padding: 2%;
}

.logo-container.apollo {
	width: 25%;
}

.logo-container.formosa {
	width: 15%;
}

.logo-container.juliet {
	width: 15%;
}

.logo-container.keslow {
	width: 18%;
}

.logo-container.nice {
	width: 25%;
}

.logo-container.quixote {
	width: 12%;
	padding: 3%;
}

.logo-container.sim {
	padding: 3%;
}

.logo-container.uta {
	width: 23%;
	padding: 3%;
}

.logo-container.william {
	width: 23%;
}

.logo-container.deluxe {
	width: 19%;
	padding: 6%;
}

.logo-container.seal {
    width: 14%;
    padding: 3%;
}

.logo-container.tdsb {
    width: 17%;
    padding: 4%;
}

.logo-container.techni {
    width: 28%;
    padding: 4%;
}

.logo-container.sonyPics {
    width: 16%;
    padding: 5%;
}

.logo-container.sonyBelieve {
    width: 25%;
    padding: 5%;
}

.logo-container.dhx {
    width: 18%;
    padding: 3%;
}

.logo-container.actra {
    width: 22%;
    padding: 3%;
}

.logo-container.dgc {
    width: 18%;
    padding: 3%;
}
.logo-container.amc {
    width: 21%;
    padding: 3%;
}
.logo-container.solis {
    width: 21%;
    padding: 3%;
}

.logo {
	width: 100%;
	height: 100%;
	object-fit: fill;
}

@media all and (max-width: $small-desktop) {
	.logo-container.apollo {
		width: 37%;
	}

	.logo-container.formosa {
		width: 23%;
	}

	.logo-container.juliet {
		width: 24%;
	}

	.logo-container.keslow {
		width: 30%;
	}

	.logo-container.nice {
		width: 38%;
		padding: 3%;
	}

	.logo-container.quixote {
		width: 13%;
	}

	.logo-container.sim {
		padding: 3%;
		width: 27%;
	}

	.logo-container.uta {
		width: 27%;
		padding: 2%;
	}

	.logo-container.william {
		width: 30%;
	}

	.logo-container.deluxe {
		padding: 3%;
	}

	.logo-container.seal {
        width: 20%;
    }

    .logo-container.tdsb {
        width: 24%;
    }

    .logo-container.techni {
	    width: 30%;
	    padding: 3%
	}

    .logo-container.sonyPics {
        width: 23%;
    }

    .logo-container.sonyBelieve {
        width: 35%;
    }

    .logo-container.dhx {
        width: 25%;
    }

    .logo-container.actra {
        width: 24%;
    	padding: 2%;
    }

    .logo-container.dgc {
	    width: 24%;
    	padding: 2%;
	}
	.logo-container.amc {
	    width: 24%;
    	padding: 2%;
	}
	.logo-container.solis {
	    width: 24%;
    	padding: 2%;
	}
}
