div.student-project-card {
	width: 32%;
	overflow: hidden;
	color: blue;
	border-radius: 3rem;
	margin: 0 2% 2% 0;
	position: relative;
	font-family: 'OpenSans';
	font-size: 1.4rem;
	z-index: 1;

	&:nth-child(3n) {
		margin-right: 0;
	}
}

div.project-card-image {
	position: relative;
}

img.project__poster {
	position: relative;
	z-index: 0;
	display: block;
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.project-card__title {
	font-size: 1.6rem;
}

div.project-card-info {
	background: $blue;
	color: white;
	padding: 2rem;
	min-height: 24rem;
	position: relative;
	width: 100%;
}

p.project-card__description {
	box-sizing: content-box;
}

div.project-card__view-more {
	position: absolute;
	bottom: 10%;
	right: 10%;
}

a.view-more__click {
		color: $light-red;
		text-decoration: none;
	&:hover {
		color: white;
		text-decoration: underline;
	}
}

a.project-card-cast {
	// position: absolute;
	background: $blue;
	width: 100%;
}

button.playButton {
	font-size: 4rem;
	display: block;
	position: absolute;
	transform: translateY(50%);
	width: 4.8rem;
	height: 4.8rem;
	border-radius: 50%;
	bottom: 0;
	right: 10px;
	z-index: 100;
	border: none;
	background: white;
	color: $blue;

	.fa {
		margin-left: 0.4rem;
	}

	&:focus {
		outline: none;
	}

	&:active {
		outline: none;
	}

	&:hover {
		background: $light-red;
	}
}

.play__button {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%);
	margin: 0;
	padding: 0;
}

button.btn {
	line-height: 0;
}

@media all and (max-width: $small-desktop) {
	div.student-project-card {
		width: 48%;
		margin: 0 4% 4% 0;

		&:nth-child(3n) {
			margin-right: 4%;
		}

		&:nth-child(2n) {
			margin-right: 0;
		}
	}

	div.project-card-image {
		width: 100%;
	}

	div.project-card-info {
		position: relative;
		z-index: -100;
	}
}

@media all and (max-width: $tablet) {
	div.student-project-card {
		width: 100%;
		&:nth-child(n) {
			margin-right: 0;
		}
	}

	div.project-card-info {
		width: 100%;
		min-height: auto;
		padding-bottom: 4rem;
		padding-top: 4rem;
		font-size: 1.6rem;
	}

	div.project-card__view-more {
		// bottom: inherit;
		position: static;
	}
}

@media all and (max-width: $mobile) {
	div.student-project-card {
		border-radius: 0;
		margin-bottom: 0;
	}
}
