.student-projects-section {
	width: 100%;
	padding: 5% 8%;
	background: $button-red;
	position: relative;
}

.student-projects-heading {
	padding: 4% 8%;
	color: white;
	font-size: 2rem;
	text-align: center;
}

.student-projets__title {
	font-size: 3.2rem;
	margin-bottom: 2rem;
	font-family: 'OpenSansSemiBold';
}

.student-projects-heading__para {
	font-size: 2rem;
	font-family: 'OpenSansSemiBold';
}

.reel-start--blue {
	display: inline-block;
	font-family: 'Hanoded';
	transform: rotate(-5deg);
	color: $button-blue;
	font-size: 3rem;
}

.student-projects-videos {
	width: 100%;
	padding: 2% 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: flex-start;
	margin-bottom: 40px;
}

@media all and (max-width: $mobile) {
	.student-projects-section {
		z-index: -100;
		padding: 2% 0 0 0;
	}

	.student-projects-section::before {
		display: block;
		height: 5vh;
		content: '';
		visibility: hidden;
	}

	.student-projects-videos {
		padding: 0;
	}
}
