.main-sponsors-section {
    background: $blue;
    padding: 5% 15%;
}

.sponsors--color {
    color: white;
    font-size: 3.5rem;
    letter-spacing: .1rem;
}

.main-sponsors__title {
    font-family: 'OpenSansBold';
    color: $red;
    font-size: 3rem;
    text-align: center;
    padding: 9% 6% 0;
    margin-bottom: 4%;
}

.we-sponsor {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.we-logo {
    display: block;
    width: 60px;
    height: 60px;
}

.sponsors-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

@media all and (max-width: $small-desktop) {
    .main-sponsors-section {
        padding: 4% 0 5%;
    }

    .main-sponsors__title {
        padding: 0 5%;
    }
}