.navBar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 9rem;
	padding: 10px 40px;
	width: 100%;
	background: white;
	position: fixed;
	z-index: 200;
	top: 0;

	&.floating {
		position: fixed;
		top: 0;
		z-index: 200;

		&.testing-enter {
			top: -15%;

			&.testing-enter-active {
				top: 0;
				transition: top 1000ms;
			}
		}

		&.testing-exit {
			top: 0;
			&.testing-exit-active {
				top: -15%;
				transition: top 1000ms;
			}
		}

	}

}


//mobile styles
@media all and (max-width: $small-desktop) {
	.navBar {
		display: none;
	}
}
