.about-section {
	display: flex;
	width: 100%;
	height: 100vh;
	max-height: 850px;
	flex-direction: row-reverse;
}

.about-carousel {
	width: 50%;
	position: relative;
	height: 100%;


	.carousel,
	.carousel-inner,
	.carousel-inner .carousel-item {
		height: 100%;
	}

	.carousel-inner .carousel-item img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}




.about-information {
	width: 50%;
	background: $blue;
	padding: 6%;
	color: white;
	height: 100%;
}

.about__reelstart-heading {
	.splash__text--italic {
		font-size: 5rem;
		transform: rotate(-5deg) translate(3px,-3px);
	}
}

.about__para {
	font-size: 1.6rem;
	padding-bottom: 4%;
	// font-family: 'OpenSansLight';
}

//mobile
@media all and (max-width: $small-desktop) {
	.about-section {
		position: relative;
		z-index: 0;
		// height: 650px;
		background: #29275f;
	}

	.about-section::before {
		display: block;
		height: 5vh;
		// margin-top: -5vh;
		content: '';
		visibility: hidden;
	}

	.about-carousel {
		width: 100%;
	}

	.about-information {
		width: 100%;
		padding-top: 0;
	}

	.about__reelstart-heading {
		text-align: center;
		padding-top: 6rem;
	}
}

@media all and (min-width: $tablet) and (max-width: $small-desktop) {
	.about-section {
		max-height: 800px;
	}
	.about__para {
		font-size: 1.4rem;
	}
}

@media all and (max-width: $tablet) {
	.about-section {
		flex-direction: column;
		height: 100%;
		max-height: none;
	}

	// .splash__text {
	// 	font-size: 2.3rem;
	// }

	// .about__reelstart-heading {
	// 	font-size: 2.3rem;
	// }
}
