.modal-header {
	padding: 0;
	border: 0;
}

.modal-header .close {
	width: 30px;
	height: 30px;
	margin: 0;
	padding: 0;
	position: absolute;
	top: -15px;
	right: -5px;
	background-color: gray;
	border-radius: 50%;
	opacity: 1;
	text-shadow: none;
	font-size: 2rem;
	z-index: 100;
}

.modal-content {
	width: 100%;
	height: 70vh;
}

.modal-video-window {
	position: relative;
	display: block;
	object-fit: cover;
	width: 100%;
	height: 500px;
}

.modal-body {
	background: #29275f;
}

.embed-responsive {
	height: 100%;
}


.btn {
	padding: 0;
}

.btn-primary.focus,
.btn-primary:focus {
	box-shadow: none;
}

.close:not(:disabled):not(.disabled):hover {
	/* opacity: .75; */
	opacity: 1;
}

.embed-responsive-images {
	padding-top: 0;
}

.embed-responsive-16by9-images::before {
	padding-top: 0;
}

.image-modal > div.modal-content {
	height: inherit;
}

@media all and (max-width: $mobile) {
	// .embed-responsive {
	// 	padding-top: 100%;
	// }



	.embed-responsive-images {
		padding-top: 0;
	}

	.embed-responsive-16by9-images::before {
		padding-top: 0;
	}
}
